:root {
  --brand-color: #008b57;
  --medium-gray: #8c9cad;
  --dark-gray: #2e3742;
  --light-gray: #d7e0eb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
}

main {
  margin-top: 7.1rem;
}
